<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title || 'Discord Bot' %></title>
    <link rel="stylesheet" href="/Style/global.css" />
    <style>
        .card { min-width: 320px; max-width: 900px; }
        .profile {
            display: flex;
            gap: 16px;
            align-items: center;
            position: relative;
            padding: 16px;
            border-radius: 8px;
            overflow: hidden;
            margin-bottom: 16px;
            z-index: 1;
        }
        .background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            filter: brightness(0.5);
            overflow: hidden;
        }
        .background img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .description {
            margin-top: 6px;
            font-size: 13px; 
            text-align:center; 
        }
    </style>
</head>
<body>
    <div class="card" style="margin-bottom: 36px;" role="header">
        <%- include('Layouts/header', { button: { back: true, home: true, log: true, logout: true }, session }) -%>
    </div>
    <div class="card" role="main">
        <div class="profile">
            <% if (game.splashURL) { %>
                <div class="background">
                    <img src="<%= game.splashURL %>?size=1024" alt="Background">
                </div>
            <% } %>
            <% if (game.iconURL) { %>
                <div class="logo-128" style="background: none;" aria-hidden="false">
                    <img src="<%= game.iconURL %>?size=128" alt="User icon">
                </div>
            <% } else { %>
                <div class="logo-128" aria-hidden="false">
                    No Image
                </div>
            <% } %>
            <div class="center">
                <div><h1><%= game.name %></h1></div>
                <div><span class="muted">ID: </span><%= game.id %></div>
                <% if (game.id === '438122941302046720') { %>
                    <div><span class="muted">Platform: </span>Xbox</div>
                <% } %>
                <% if (game.description) { %>
                    <div class="description">
                        <div><%= game.description %></div>
                    </div>
                <% } %>
            </div>
        </div>
        <% if (users && users.length > 0) { %>
            <section class="panel">
                <div class="list">
                    <% users
                        .sort((a, b) => ((b.h*3600)+(b.m*60)+b.s) - ((a.h*3600)+(a.m*60)+a.s))
                        .forEach((user, index) => { 
                    %>
                        <a href="/user/<%= user.id %>">
                            <div>
                                <h3>#<%= index + 1 %></h3>
                            </div>
                            <div class="logo">
                                <img src="<%= user.avatar %>" alt="icon">
                            </div>
                            <div class="center">
                                <h3><%= user.username %></h3>
                            </div>
                            <div class="activity-time">
                                <div>
                                    <span class="muted">Last Played:</span>
                                    <% 
                                        const elapsedSec = Math.floor((new Date(user.stop).getTime() - new Date(user.start).getTime()) / 1000);
                                    %>
                                    <%= 
                                        String(Math.floor(elapsedSec / 3600)).padStart(2, '0') + 
                                        ":" + 
                                        String(Math.floor((elapsedSec % 3600) / 60)).padStart(2, '0') + 
                                        ":" + 
                                        String(elapsedSec % 60).padStart(2, '0')
                                    %>
                                </div>
                                <div>
                                    <span class="muted">Total Played:</span>
                                    <%= 
                                    String(user.h).padStart(2, '0') + 
                                    ":" + 
                                    String(user.m).padStart(2, '0') + 
                                    ":" + 
                                    String(user.s).padStart(2, '0')
                                    %>
                                </div>
                            </div>
                            <% const i = playing.findIndex(a => a.id === user.id); %>
                            <% if (i == -1) { %>
                            <div class="activity-time">
                                <div>
                                    <span class="muted">Last Update:</span>
                                    <span class="timer" data-created-at="<%= user.stop %>">00:00:00</span>
                                </div>
                            </div>
                            <% } else { %>
                                <div class="activity-time">
                                    <span class="muted">Playing:</span>
                                    <span class="timer" data-created-at="<%= playing[i].start %>">00:00:00</span>
                                </div>
                            <% } %>
                        </a>
                    <% }); %>
                </div>
            </section>
        <% } %>
        <footer>
            <div><%= owner || 'Bot Owner' %> • <span id="year"><%= new Date().getFullYear() %></span></div>
        </footer>
    </div>
    <script src="/Scripts/timer.js"></script>
</body>
</html>