 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title || 'Discord Bot' %></title>
    <link rel="stylesheet" href="/Style/global.css" />
    <style>
        .meta { width: auto; color: var(--muted); font-size: 13px; margin-bottom:8px; }
        .stat-grid { display:flex; gap:12px; margin-top:12px; flex-direction: column; }
        .stat { flex:1; display: flex; background:#0b1220; padding:16px; border-radius:6px; text-align:center; }
        .stat form {
            margin: 0 auto;
            max-width: 240px;
        }
        .error {
            margin-bottom: 16px;
            color: var(--danger);
            font-size: small;
        }
    </style>
</head>
<body>
    <div class="card" style="margin-bottom: 36px;" role="header">
        <%- include('Layouts/header', { button: { home: true, log: true, logout: true }, session }) -%>
    </div>
    <div class="card" role="main">
        <div class="grid">
            <section class="panel">
                <% if (error) { %>
                    <div class="stat center error"><%= error %></div>
                <% } %>
                <div class="stat center">
                    <div class="muted">Comment</div>
                    <p style="font-size: 13px;">Must contain at least 8 or more characters.</p>
                </div>
                <div class="stat-grid">
                    <div class="stat">
                        <form action="/password" method="post">
                            <h1 style="margin: 0 0 16px 0;">Set Password</h1>
                            <div class="input-group" style="margin-bottom: 12px;">
                                <input type="password" name="password" value="<%= password %>" autocomplete="off" placeholder=" " pattern=".{8,}" title="Must contain at least 8 or more characters" required>
                                <label for="userId">New Password</label>
                            </div>
                            <div class="input-group" style="margin-bottom: 12px;">
                                <input type="password" name="confirmPassword" value="<%= confirmPassword %>" autocomplete="off" placeholder=" " required>
                                <label for="userId">Confirm Password</label>
                            </div>
                            <button type="submit" class="btn" style="width: 100%;">Password</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
        
        <footer>
            <div><%= owner || 'Bot Owner' %> • <span id="year"><%= new Date().getFullYear() %></span></div>
        </footer>
    </div>
</body>
</html>