<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title || 'Discord Bot' %></title>
    <link rel="stylesheet" href="/Style/global.css" />
</head>
<body>
    <div class="card" style="margin-bottom: 36px;" role="header">
        <%- include('Layouts/header', { button: { back: true, home: true, log: true, logout: true }, session }) -%>
    </div>
    <div class="card" role="main">
        <div class="center">
            <h1 style="margin-bottom: 16px;">Playing Now</h1>
        </div>
        <div class="list">
            <% if (playing && playing.length > 0) { %>
                <% playing.forEach(function(user) { %>
                    <a href="<%= '/user/' + user.id %>">
                        <div class="logo"><img src="<%= user.avatar %>" alt="icon"></div>
                        <div class="center">
                            <h3 style="margin: 0;"><%= user.username %></h3>
                        </div>
                        <div>
                            <% user.activities.forEach(activity => { %>
                                <div class="activity-time">
                                    <span class="muted"><%= activity.name %></span>
                                    <span class="timer" data-created-at="<%= activity.start %>">00:00:00</span>
                                </div>
                            <% }) %>
                        </div>
                    </a>
                <% }); %>
            <% } else { %>
                <div class="center">
                    <p style="color: var(--muted); margin:20px 0;">No users are playing right now.</p>
                </div>
            <% } %>
            <footer>
                <div><%= owner || 'Bot Owner' %> • <span id="year"><%= new Date().getFullYear() %></span></div>
            </footer>
        </div>
    </div>
    <script src="/Scripts/timer.js"></script>
</body>
</html>